// colors

$color-1: white;
$color-2: blue;

// font size

$f-size-1: 18px; 

// fonts

$font-1: 'Barlow', sans-serif;
$font-2: 'Poppins', sans-serif;
$font-3: 'Oleo Script', cursive;

// Sizes

$size-1: 700px;